name: Build Maven Library

on:
  push:
  workflow_dispatch:

jobs:
  build-and-publish:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-maven.yaml@5e99092aba0cdf672ad97da57edef2d20173ed1d # v0.1.4
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      java-version: '21'
      publish-goals: 'deploy -Dmaven.test.skip=true -Dmdep.analyze.skip'
