name: Build Maven Library

on:
  push:
  workflow_dispatch:

jobs:
  build-and-publish:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-maven.yaml@5af859c7e275ef1846712931dd3c78bddb41b39a # v0.1.5
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      java-version: '21'
      publish-goals: 'deploy -Dmaven.test.skip=true -Dmdep.analyze.skip'
