name: Build Maven Library

on:
  push:
  workflow_dispatch:

jobs:
  build-and-publish:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-maven.yaml@309c106e509700ff0ff171b132b59c96eeb6b32f # v0.1.3
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      java-version: '21'
      publish-goals: 'deploy -Dmaven.test.skip=true -Dmdep.analyze.skip'
