name: Build Maven Library

on:
  push:
  workflow_dispatch:

jobs:
  build-and-publish:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-maven.yaml@5778b6c1a494ce82a7ff1ba43e947515c83e38de # v0.2.0
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      java-version: '21'
      publish-goals: 'deploy -Dmaven.test.skip=true -Dmdep.analyze.skip'
