name: Build Maven Library

on:
  push:
  workflow_dispatch:

jobs:
  build-and-publish:
    uses: statens-pensjonskasse/github-actions-library/.github/workflows/build-library-maven.yaml@a2bc06ac35932796354f31ce92d0fc516b27a20b # v1.44.15
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      java-version: '21'
      slack-channel: '#rettighet-ci'
